body {
    background-color: rgb(238, 249, 191);
    font-family: 'Roboto';
    color: #75B79E;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo {
    font-size: 56px;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 34px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin-top: 47px;
}

.carta .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta .face-tras {
    transform: rotateY(180deg);
}

.virado .face-tras {
    transform: rotateY(0deg);
}

.virado .face-frente {
    transform: rotateY(-180deg);
}

.cartas {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 34px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carta img {
    width: 100px;
}

h1 {
    font-size: 34px;
}